<form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  >
  <h1 class="h1 mb60">Login</h1>
  <label class="tt-control-label mb16">
    Telgram Username
    <input
      formControlName="username"
      class="tt-input"
      type="text"
      placeholder="Username"
    />
  </label>

  <label class="tt-control-label mb32">
    Password

    <div class="password-input">
      <input
        formControlName="password"
        class="tt-input"
        [type]="isPasswordVisible() ? 'text' : 'password'"
        placeholder="Password"
      />
      <button class="password-eye-btn" 
      [class.active]="isPasswordVisible()"
      (click)="isPasswordVisible.set(!isPasswordVisible())">
        <img src="/assets/svg/show-password.svg" alt="icon" class="" />
      </button>
    </div>
  </label>

  <button class="btn btn-shadow" type="submit">Login</button>
</form>

<img src="/assets/svg/logo-big.svg" alt="logo" />
